
.display-thumbnails{
    display: flex;
    flex-wrap: wrap;
}

.thumbnail-image{
    height: 140px;
    width: 200px;
    border: solid 1px black;
}

.thumbnail-image img{
    height: 100%;
    width: 100%;
}

.resource-thumbnail{
    margin: 20px;
    width: 200px;
}