.display-results{
    min-height: 90vh;
}

.display-thumbnails{
    display: flex;
    flex-wrap: wrap;
}

.thumbnail-image{
    height: 200px;
    width: 250px;
    border: solid 1px black;
}

.thumbnail-image img{
    height: 100%;
    width: 100%;
}

.resource-thumbnail{
    margin: 20px;
    flex-basis: 250px;
}