@import "node_modules/bootstrap/scss/bootstrap";

$colors: (
    "blue":       #4190ce,
    "indigo":     $indigo,
    "purple":     #bb3cea,
    "pink":       $pink,
    "red":        #ef694d,
    "orange":     #fcba4a,
    "yellow":     #f3e762,
    "green":      #85d66b,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  #0F1617
  );


  $theme-colors:(
    "primary":    #141D1F,
    "secondary":  #A1ABB5,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      #E3EBED,
    "dark":       #0F1617
  );

  .test-css{
      height: 200px;
      background-color: theme-color("secondary");
  }

  .row{
    min-height: 200px;
  }