.jumbotron{
    background-size: cover;
    background-position: center;
    height: 40vh;
    margin-bottom: 5vh;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: solid 4px #3a71a6;
    position: relative;
}

.border-left, .border-right{
    position: absolute;
    height: 4px;
    background-color: #3a71a6;
    top: -2px;
    z-index: 5;
}

.border-left{
    margin-left: -40px;
    width: 135px;
}

.border-right{
    margin-left: 310px;
    width: 100%;
}

.jumbotron.sewing{
    background-image: url('https://static.wixstatic.com/media/591c392b8ecd50d325e1041d0411bc94.jpg/v1/fill/w_1140,h_605,al_c,q_85,usm_0.66_1.00_0.01/Sewing%20Studio.webp');
}

.jumbotron-search{
    width: 300px;
    margin: 0 auto;
}

h4, h1{
    color: white;
    text-align: center;
}

h1, h2{

    margin-bottom: 20px;
}

.video-wrapper{
    width: 100%;
}

.placeholder{
    height: 200px;
    border: solid 3px red;
}

.highlight-story{
    height: 300px;
    border: solid 3px green;
}

.h2{
    text-align: left;
}

.video-wrapper{
    position: relative;
    width: 100%;
}

.video-wrapper:before{
    content: '';
    display: block;
    padding-top: 56.25%;
}

#welcome-video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.color-wheel{
    position: relative;
    width: 100%;
}

.color-wheel-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.color-wheel-full{
    background-image: url('../../assets/full-wheel.png');
}

.color-wheel-red{
    background-image: url('../../assets/red-wheel.png');
}

.color-wheel-orange{
    background-image: url('../../assets/orange-wheel.png');
}

.color-wheel-yellow{
    background-image: url('../../assets/yellow-wheel.png');
}

.color-wheel-green{
    background-image: url('../../assets/green-wheel.png');
}

.color-wheel-blue{
    background-image: url('../../assets/blue-wheel.png');
}

.color-wheel-purple{
    background-image: url('../../assets/purple-wheel.png');
}

.digital-art-link{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.color-wheel-list-item{
    display: flex;
    align-items: center;
}

.color-wheel-list-item a{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.color-wheel-list{
    list-style-type: none;
}

.icon-red{
    background-image: url('../../assets/red-slice.png');
}

.icon-orange{
    background-image: url('../../assets/orange-slice.png');
}

.icon-yellow{
    background-image: url('../../assets/yellow-slice.png');
}

.icon-green{
    background-image: url('../../assets/green-slice.png');
}

.icon-blue{
    background-image: url('../../assets/blue-slice.png');
}

.icon-purple{
    background-image: url('../../assets/purple-slice.png');
}