.help-panel{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.help-panel-icon{
    margin: 0 auto;
}

.info-button{
    background-image: url('../../assets/idea.png');
    height: 75px;
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background-color: white;
}

.overlay-trigger{
    display: flex;
    justify-content: center;
}