.dashboard{
    margin-top: 60px;
}

.single-reservation{
    margin-bottom: 30px;
}

.resv-name{
    margin-right: 40px;
    margin-left: 40px;
}

.profile-section{
    display: flex;
    flex-direction: column;
}

.profile-picture{
    margin-right: 40px;
}

.profile-name{
    font-weight: bold;
    font-size: 24px;
}

.profile-picture .avatar{
    justify-content: flex-start;
}

.profile-contact{
    margin-bottom: 0;
}

.add-resource-link{
    margin: 20px;
    width: 200px;
    height: 140px;
    border: 1px solid black;
    background-color: rgba(0,0,0,.2);
    padding: 20px;
}

.add-resource-link a{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
}

.display-listings{
    margin-left: -20px;
}

@media only screen and (min-width: 600px){
    .profile-section{
        flex-direction: row;
    }
}