.star-rating{
    height: 20px;
    width: 100px;
    position: relative;
}

.star-image{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../../assets/stars.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.star-filler{
    background-color: #e5ab00;
    position: absolute;
    top: 1px;
    bottom: 1px;
}